extends layout
block content
  div.row
    div.col
      p #{vehicle.vehicle_id}
    div.col-6
      p Police Report
  div.row
    div.col
      p #{vehicle.oc_date}
    div.col
      p #{vehicle.oc_time}
    div.col-6
      p #{vehicle.incident_type}
  div.row
    div.col
      p #{vehicle.local}
    div.col
      p #{vehicle.c_local}
  div.row
    p #{vehicle.add_p}
  div.row
    p #{vehicle.add_v}
  div.row
    p #{vehicle.narr}